
documents/








#========== Git commands 

#git branches. 
# git branch                    # list local branches
# git branch -a                 # list all branches (local + remote)

# git checkout branch_name      # switch to branch
# git checkout -b new_branch    # create & switch to new branch

# git switch branch_name        # newer syntax (same as checkout)
# git switch -c new_branch      # create & switch (newer syntax)



